<h1>Edit space</h1>
<form action="/edited/<%= @space.id %>" method="post">
  <input type="text" name="title"       value="<%= @space.title %>"       placeholder="title"       />
  <input type="text" name="description" value="<%= @space.description %>" placeholder="description" />
  <input type="text" name="location"    value="<%= @space.location %>"    placeholder="location"    />
  <input type="text" name="guests"      value="<%= @space.guests %>"      placeholder="guests"      />
  <input type="text" name="type"        value="<%= @space.type %>"        placeholder="type"        />
  <input type="text" name="price"       value="<%= @space.price %>"       placeholder="price"        />
  <input type="submit" value="Submit" />
</form>
