<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>MakersBnb</title>
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="../style/editspace.css">
</head>
<body>

<h1>Edit space</h1>
<form action="/edited/<%= @space.id %>" method="post">
  <input type="text" name="title"       value="<%= @space.title %>"       placeholder="title"       />
  <textarea name="description" value="<%= @space.description %>" placeholder="description" /></textarea>
  <input type="text" name="location"    value="<%= @space.location %>"    placeholder="location"    />
  <input type="text" name="guests"      value="<%= @space.guests %>"      placeholder="guests"      /><br>
  <input type="text" name="type"        value="<%= @space.type %>"        placeholder="type"        />
  <input type="text" name="price"       value="<%= @space.price %>"       placeholder="price"        />
  <input type="submit" value="Submit" />
</form>
</body>
</html>
