<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MakersBnB</title>
<!-- <link rel="stylesheet" type="text/css" href="style/index.css">
<link rel="icon" type="image/x-icon" href="public/favicon.png"> -->
</head>

<body>

  <li><%= @space.title %></li>
  <li><%= @space.location %></li>
  <li><%= @space.description %></li>
  <li><%= @space.guests %></li>
  <li><%= @space.type %></li>
  <li><%= @space.user_id %></li>

<form action="/<%= @space.id %>/booking" method="get">
  <button> Book </button>
</form>


</html>
</body>
