<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MakersBnB</title>
<!-- <link rel="stylesheet" type="text/css" href="style/index.css">
<link rel="icon" type="image/x-icon" href="public/favicon.png"> -->
</head>

<body>

  <%= @space.title %>
<%= @space.location %>
<%= @space.description %>
<%= @space.guests %>
<%= @space.type %>
<%= @space.user_id %>

</html>
</body>
